@page "/"
@using Meritocious.Components.Blazor.Models
<h1>Meritocious Component Playground</h1>

<MeritociousButton Variant="ButtonVariant.Primary" IconName="fas fa-magic">
    Click Me
</MeritociousButton>

<MeritociousTag Interactive="true" IconName="fas fa-cog" />

<MeritociousCard Interactive="true">
    <HeaderContent>
        <h3>Card Header</h3>
    </HeaderContent>
    <ChildContent>
        <p class="text-md">This is a test card content.</p>
    </ChildContent>
</MeritociousCard>

<MeritociousCard FullWidth="true" Interactive="true">
    <HeaderContent>
        <h3>Card Header</h3>
    </HeaderContent>
    <ChildContent>
        <MeritociousLogin />
    </ChildContent>
</MeritociousCard>
