@inherits LayoutComponentBase

<PageTitle>Meritocious.Playground.Blazor</PageTitle>

<div class="page">
    <MeritociousSidebar UserName="ameritusweb" />

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
