@page "/playground/form"
@using Meritocious.Components.Blazor.Models
<h2>Button Variants</h2>
<MeritociousButton Variant="ButtonVariant.Primary">Primary</MeritociousButton>
<MeritociousButton Variant="ButtonVariant.Secondary">Secondary</MeritociousButton>
<MeritociousButton Variant="ButtonVariant.Teal">Teal</MeritociousButton>